
body {
 background:  #4A4A4A;
}

.item-circles {
	fill:none;
	stroke-width: 5px;
	stroke: white;
}

.middle-circle {
  stroke-width: 5px ;
  fill:red;
  stroke: white;
}


.around {
  fill: none;
  stroke: red;
}