
body {
 background:  #4A4A4A;
}

.all-circles {
	fill:orange;
	stroke-width: 5px;
	stroke: white;
}

.middle-circle {
  stroke-width: 5px ;
  fill:red;
  stroke: white;
}

/*.middle-circle:hover {
  fill: orange;
}
*/
.around {
  fill: none;
  stroke: red;
}